USE [master]
GO
/****** Object:  Database [StudentAPI]    Script Date: 19-11-2019 04:37:09 AM ******/
CREATE DATABASE [StudentAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\StudentAPI.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\StudentAPI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentAPI]
GO
/****** Object:  Table [dbo].[StudentMaster]    Script Date: 19-11-2019 04:37:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Class] [nvarchar](50) NULL,
	[FatherName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
 CONSTRAINT [PK_StudentMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[StudentMaster] ON 

GO
INSERT [dbo].[StudentMaster] ([ID], [Name], [Class], [FatherName], [Email], [Mobile], [Address]) VALUES (2, N'Nirmal Singh', N'3rd', N'abc', N'singhnirmal128@gmail.com', N'9815276871', N'Sant Nagar, H.no 318 W.no 14')
GO
SET IDENTITY_INSERT [dbo].[StudentMaster] OFF
GO
USE [master]
GO
